@mixin btn {
  border-radius: 5px;
  border-style: none;
  padding: 15px 0;
}

@mixin center {
  display: block;
  margin: 0 auto;
}

@mixin mq($break) {
  @if $break == "desktop" {
    @media (min-width: $break-dsktop) {
    @content;
    }
  }
}
