//Font Stacks
$font-url--google       : 'https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap';
$font-family--primary   : 'Lato', Arial, sans-serif;

//Font Weights
$font-weight--light     : 300;
$font-weight--regular   : 400;
$font-weight--bold      : 700;

//Descriptive Base Colors
$white          : #fff;
$grey           : #858585;
$turquoise      : #58e1c1;


//Color Usage
$color-primary  : $grey;
$color-accent   : $turquoise;

//UI Colors
$malibu                  : #51ddfc;
$emerald                 : #63cc82;
$sunglo                  : #e4757a;
$coral                   : #fd7856;
$purple-mountains-majesty: #927bc1;
$french-lilac            : #deb2ee;
$anakiwa                 : #7ee6fd;
$vista-blue              : #88d9a0;
$shakespeare             : #3fabca;
$sea-pink                : #ec9fa3;
$vivid-tangerine         : #fd9f85;
$riptide                 : #80e8d1;

//Button Color Map
$btn-colors: (
  'default': $malibu,
  'success': $emerald,
    'error': $sunglo,
  'warning': $coral ,
     'info': $purple-mountains-majesty,
);

//Theme Color Map
$theme-colors: (
  3: $french-lilac,
  4: $anakiwa,
  5: $vista-blue,
  6: $shakespeare,
  7: $sea-pink,
  8: $vivid-tangerine,
 12: $riptide
);

//IMG types
$img: ('logo','avatar', 'frame');

//Text
$base__font--size: 16px;
$base__line: 24px;

//Layout
$max-width: 960px;

//Media Query
$break-dsktop: 768px;
