.btn {
  @include bg-colors($btn-colors);
}

.grid__col--12 {
  display: flex;
  flex-direction: column;
  @include mq("desktop") {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

[class^=btn--] {
  @include btn;
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  @include mq("desktop") {
    padding: 10px 40px;
    width: auto;
  }
}
