.btn {
  @include bg-colors($btn-colors);
}

.grid__col--12 {
  display: flex;
  flex-direction: column;
  @include mq("desktop") {
    flex-direction: row;
    justify-content: space-around;
  }
}

[class^=btn--] {
  @extend %btn;
  color: white;
  margin: 10px 0;
  @include mq("desktop") {
    padding: 10px 40px;
    width: auto;
  }
}

[type="submit"] {
  width: 100%;
  margin-top: 20px;
}
