.grid__col--12 {
  display: flex;
  flex-direction: column;
  @include mq("desktop") {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

[class^=btn--] {
  @include btn;
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
  @include mq("desktop") {
    padding: 10px 40px;
    width: auto;
  }
}

@each $btn in $btns {
  .btn--#{$btn} {
    background-color: map-get($btn-colors, $btn);
    &:hover {
      background-color: darken(map-get($btn-colors, $btn),25%);
      transition: .4s;
    }
  }
}
