.form {
  @include center;
  &__input {
    display: block;
    border: none;
    border-bottom: 4px solid $color-accent;
    width: 90%;
    font-weight: 700;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  &__label--hidden {
    display: none;
  }
}
