.container {
  font-family: $font-family--primary;
  font-weight: $font-weight--regular;
  color: $color-primary;
}

.headline--primary {
  color: $color-accent;
  line-height: 1.2em;
  font-weight: $font-weight--bold;
  padding-left: 20px;
}

.headline--secondary {
  font-weight: $font-weight--light;
  margin: 20px 0;
  font-size: em(16px);
}

.link {
  text-decoration: none;
  font-weight: $font-weight--bold;
  color: map-get($btn-colors, 'default');
}

.blockquote {
  font-size: em(24px);;
  line-height: em(22px);
  font-style: italic;
  border-radius: 5px;
  border-left: 8px solid $color-accent;
  padding-left: 12px;
  margin-left: 30px;
}

[class^=btn--] {
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}
